
.navcat {
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 10px;
}

nav {
    position: fixed;
    background-color: gray;
    width: 100%;
    height: 80px;
    padding-right: 60px;
    padding-left: 60px;

}

li {
    display: inline-block;
    border-right: 1px solid black;
    padding-right: 3px;
}

ul {
    position: relative;
    left: 100px; 
    bottom: 60px
}

.dotted_green {
    width: 600px;
    height: 300px;
    border: 10px dotted green;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 250px;

}

.cat {
    width:200px;
    height: 200px;
    position: absolute;
    top: -100px;
    left: -100px;
}

.dog {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -80px;
    bottom: -120px;
}

body {
      background: url('../images/outerspace_landscape.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
